<section class="editProfileBg">
        <div class="container customContainer">
            <div class="row">
                <div class="col-md-4">
                    <button class="sideBtn btn-block btn-info text-center mb-3" onclick="openNav()"> ☰ Open Left menu</button>
                    <div class="sidepanel" id="mySidepanel">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                        <ul class="leftPanel">
                            <!--<li><a href="#"><span><img src="images/editprofile.png" alt=""></span>Account</a></li>-->
                            <li><a routerLink="/profile"><span><i class="far fa-user-edit"></i></span>Edit Profile</a></li>
                            <li><a routerLink="/change_password"><span><img src="./assets/images/changepassword.png"
                              alt=""></span>Change Password</a></li>
                              <li>
                                <a routerLink="/change-language"
                                  ><span
                                    ><img src="./assets/images/changelanguage.png" alt="change language" /></span
                                  >Change Language</a
                                >
                              </li>
							<li *ngIf="user_type == 2"><a routerLink="/upload-documents" class="active"><span><i class="far fa-file-invoice"></i></span>Documents</a></li>

              <li *ngIf="user_type == 2">
                <a routerLink="/service-list"  ><span><i class="fab fa-servicestack"></i></span>Services</a>
              </li>
              <li *ngIf="user_type == 2">
                <a routerLink="/query-request-list"><span><i class='far fa-comment-alt'></i></span>Query Request</a>
              </li>
              <li *ngIf="user_type == 2">
                <a routerLink="/sp-earning-list"
                  ><span><img src="./assets/images/earning-money.png" alt="earning" /></span
                  >Earnings</a
                >
              </li>
              <li *ngIf="user_type == 2">
                <a routerLink="/sp-query-booking-list"><span><i class="fa fa-calendar" style="font-size:36px"></i></span>Query
                  Bookings</a>
              </li>
              <li *ngIf="user_type == 2">
                <a routerLink="/working-hours"><span><i class="far fa-business-time"></i></span>Working Hours</a>
              </li>
              <li *ngIf="user_type == 2"><a routerLink="/working-area-list"><span><i class="far fa-place-of-worship"></i></span>Working Area</a></li>
              <li><a routerLink="/sp-booking-list"><span><img src="./assets/images/booked.png" alt=""></span>My Bookings</a>
              </li>
              <li>
                <a (click)="readNotification()" routerLink="/notification"><span><img src="./assets/images/notification.png"
                      alt=""></span>Notifications
                      <span *ngIf="newNotification" class="badge badge-light" style="color: red;width: 45px;">New</span>
                    </a>
                  </li>
							<!--<li><a href="#" class="active"><span><i class="far fa-business-time"></i></span>Working Hours</a></li>
                            <li><a href="#"><span><i class="fab fa-servicestack"></i></span>Services</a></li>
                            <li><a href="#"><span><i class="far fa-photo-video"></i></span>Image &amp; Video</a></li>
                            <li><a href="#"><span><img src="images/changepassword.png" alt=""></span>Change Password</a></li>
                            <li><a href="#"><span><img src="images/changelanguage.png" alt=""></span>Change Language</a></li>
                            <li><a href="#"><span><img src="images/paymentoption.png" alt=""></span>Terms &amp; Condition</a></li>
                            <li><a href="#"><span><img src="images/helpcenter.png" alt=""></span>Help Center</a></li>
                            <li><a href="#"><span><img src="images/notification.png" alt=""></span>Notifications</a></li>
                            <li><a href="#"><span><img src="images/privacypolicy.png" alt=""></span>Privacy Policy</a></li>
                            <li><a href="#"><span><img src="images/faq.png" alt=""></span>FAQ</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="inner_main_content">
                        <h3 class="innerHdn">Documents</h3>
                        <div class="uploadDocumentBase">
                            <div class="spDoc" *ngFor='let documentList of documentsData; let i = index'>
                                <span class="spDcross" (click)="deleteImage(documentList._id)"><i class="far fa-times"></i></span>
                                <input type="text" class="" value="{{documentList.tag}}" disabled />
                                <img src="./assets/images/pdf.png" alt="" *ngIf="documentList.documents.split('.').pop() == 'pdf'" >
                                <img src="./assets/images/word.png" alt="" *ngIf="documentList.documents.split('.').pop() == 'docx' || documentList.documents.split('.').pop() == 'doc'" >
                            </div>
                        </div>
						<button type="submit" class="" (click)="addNewDocument()">Add New Documents</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
