<section class="editProfileBg">
  <div class="container customContainer">
    <div class="row">
      <div class="col-md-4">
        <button class="sideBtn btn-block btn-info text-center" onclick="openNav()"> ☰ {{'Open Left menu' | translate}}</button>
                    <div class="sidepanel" id="mySidepanel">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <ul class="leftPanel">
          <li><a routerLink="/profile"><span><img src="./assets/images/editprofile.png" alt=""></span>{{'Edit Profile' | translate}}</a>
          </li>
          <li><a routerLink="/change_password" class="active"><span><img src="./assets/images/changepassword.png"
                  alt=""></span>{{'Change Password' | translate}}</a></li>
          <li>
            <a routerLink="/change-language"
              ><span
                ><img src="./assets/images/changelanguage.png" alt="change language" /></span
              >{{'Change Language' | translate}}</a
            >
          </li>
          <li *ngIf="userType == 1"><a routerLink="/payment-option"><span><img src="./assets/images/paymentoption.png"
                  alt=""></span>{{'Payment Options' | translate}}</a></li>
          <li *ngIf="userType == 1"><a routerLink="/my-address-list"><span><img src="./assets/images/locate.png"
                  alt=""></span>{{'Address' | translate}}</a>
          </li>
          <li *ngIf="userType == 1">
            <a routerLink="/sr-wallet"><span><img src="./assets/images/wallet-menu.png"
                  alt=""></span>{{'My Wallet' | translate}}</a></li>
          <li *ngIf="userType == 1"><a routerLink="/my-booking-list"><span><img src="./assets/images/booked.png"
                  alt=""></span>{{'My Bookings' | translate}}</a>
          </li>
          <li *ngIf="userType == 1">
            <a routerLink="/my-query-list"><span><i class="far fa-file-search" style="font-size:30px"></i></span>{{'My Query' | translate}}</a>
          </li>
          <li *ngIf="userType == 1">
            <a routerLink="/query-bookings"><span><i class="fa fa-calendar" style="font-size:36px"></i></span>{{'Query Bookings' | translate}}</a>
          </li>
          <li *ngIf="userType == 1">
            <a routerLink="/sr-notification"><span><img
                  src="./assets/images/notification.png" alt=""></span>{{'Notifications' | translate}}
              <span *ngIf="srNewNotification" class="badge badge-light" style="color: red;width: 45px;">{{'New' | translate}}</span>
            </a>
          </li>
          <li *ngIf="userType == 1">
            <a routerLink="/help-center"
              ><span
                ><img
                  src="./assets/images/help-center.png"
                  alt="help center" /></span>{{'Help Center' | translate}}</a>
          </li>
          <li *ngIf="userType == 2">
            <a routerLink="/document-list">
              <span><i class="far fa-file-invoice"></i></span>{{'Documents' | translate}}</a>
          </li>
          <li *ngIf="userType == 2">
            <a routerLink="/service-list"><span><i class="fab fa-servicestack"></i></span>{{'Services' | translate}}</a>
          </li>
          <li *ngIf="userType == 2">
            <a routerLink="/query-request-list"><span><i class='far fa-comment-alt'></i></span>{{'Query Request' | translate}}</a>
          </li>
          <li *ngIf="userType == 2">
            <a routerLink="/sp-query-booking-list"><span><i class="fa fa-calendar" style="font-size:36px"></i></span>{{'Query Bookings' | translate}}</a>
          </li>
          <li *ngIf="userType == 2">
            <a routerLink="/sp-earning-list"
              ><span><img src="./assets/images/earning-money.png" alt="earning" /></span
              >{{'Earnings' | translate}}</a
            >
          </li>
          <li *ngIf="userType == 2">
            <a routerLink="/working-hours"><span><i class="far fa-business-time"></i></span>{{'Working Hours' | translate}}</a>
          </li>
          <li *ngIf="userType == 2"><a routerLink="/working-area-list"><span><i
                  class="far fa-place-of-worship"></i></span>{{'Working Area' | translate}}</a></li>
          <li *ngIf="userType == 2"><a routerLink="/sp-booking-list"><span><img src="./assets/images/booked.png"
                  alt=""></span>{{'My Bookings' | translate}}</a></li>
          <li *ngIf="userType == 2">
            <a routerLink="/notification"><span><img src="./assets/images/notification.png"
                  alt=""></span>{{'Notifications' | translate}}
              <span *ngIf="newNotification" class="badge badge-light" style="color: red;width: 45px;">{{'New' | translate}}</span>
            </a>
          </li>

        </ul>
        </div>
      </div>
      <div class="col-md-8">

        <h3 class="innerHdn">{{'Change Password' | translate}}</h3>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
          <span style="font-size: 25px;">{{infoMessage}}</span>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="password" class="form-control" placeholder="{{'Old password' | translate}}" formControlName="old_password"
                id="old_password">
              <div class="error"
                *ngIf="passwordForm.controls['old_password'].hasError('required') && passwordForm.controls['old_password'].touched">
                {{'Please enter old password' | translate}}.
              </div>
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" placeholder="{{'New password' | translate}}" formControlName="new_password"
                id="new_password">
              <div class="error"
                *ngIf="passwordForm.controls['new_password'].hasError('required') && passwordForm.controls['new_password'].touched">
                {{'Please enter new password' | translate}}.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="password" class="form-control" placeholder="{{'Confirm password' | translate}}"
                formControlName="confirm_password" id="confirm_password">
              <div class="error"
                *ngIf="passwordForm.controls['confirm_password'].hasError('required') && passwordForm.controls['confirm_password'].touched">
                {{'Please enter confirm password' | translate}}.
              </div>
              <span>{{error_msg}}</span>
            </div>
          </div>
          <button type="submit" class="" [disabled]="passwordForm.invalid">{{'Submit' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</section>
