<section class="editProfileBg">
  <div class="container customContainer">
    <div class="row">
      <div class="col-md-12">
        <h3 class="innerHdn"><a routerLink="/query-reply-list/{{queryReplyData?.query_service_id}}" class="for-back"><i class="fas  fa-arrow-left"></i> </a>  Book Query Service</h3>
        <div class="myAddress">
          <div class="row">
            <div class="col-md-6">
              <div class="prof_add_info">
                <div class="loc_img locNewimg">
                  <img src="./assets/images/setting.png" alt="image" style="width: 75%;">
                </div>
                <h5>Provider Name: <span class="sp-name">{{queryReplyData?.service_provider_name}}</span></h5>
                <h5>Time Requires: <span class="sp-name">{{queryReplyData?.days}} days</span></h5>
                <h5>Cost: <span class="sp-name" *ngIf="queryReplyData?.booked_status">{{afterTaxCost}} {{queryReplyData?.currency}}</span><span class="sp-name" *ngIf="!queryReplyData?.booked_status">{{queryReplyData?.cost}} {{queryReplyData?.currency}}</span></h5>
                <h5>Status: <span class="sp-name" *ngIf="queryReplyData?.booked_status">Booked</span><span style="color: red;" *ngIf="!queryReplyData?.booked_status">Not-Booked</span></h5>
                <div *ngIf="queryReplyData?.query_submitted_doc.length > 0">
                  <div *ngFor="let item of queryReplyData?.query_submitted_doc; let i = index">
                    <button type="button" class="def_btn" style="margin-top: 10px;" (click)="downloadFile(item)">Download & Review Quotation({{i+1}})</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="prof_add_info">
                <div class="loc_img locNewimg">
                  <img src="./assets/images/service-description.png" alt="image" style="width: 75%;">
                </div>
                <h5 class="prof_title">Service Description</h5>
                <p class="sp-name">{{queryReplyData?.description}}</p>
              </div>
            </div>
            <div class="col-md-6" *ngIf="!queryReplyData?.booked_status">
              <h5 class="bk-date">Choose Booking Date</h5>
              <div id="queryBookingCalendar" style="text-align: -webkit-center;"></div>
            </div>
            <div class="col-md-6" *ngIf="amountShow">
              <div class="price_content_block">
                <p class="cont_adjt"><span>{{queryReplyData?.service_type}}: </span><strong>{{queryReplyData?.cost}} {{queryReplyData?.currency}}</strong></p>
                <p class="cont_adjt add_border"><span>Tax: </span><strong>{{taxAmount}} {{queryReplyData?.currency}}</strong></p>
                <p class="cont_adjt add_border"><span>Total: </span><strong>{{queryReplyData?.cost + taxAmount}} {{queryReplyData?.currency}}</strong></p>
                <div class="totle_pric_txt noBrdrBtm ">
                  <p class="cont_adjt"><span>Order Total : </span>
                    <strong>{{queryReplyData?.cost + taxAmount}} {{queryReplyData?.currency}}</strong>
                  </p>
                </div>
                <div class="radioInn" *ngIf="queryReplyData?.currency == walletData?.currency && walletAmount != 0">
                  <div class="custom-control custom-checkbox rateListCheck">
                    <input type="checkbox" class="custom-control-input" id="wallet-balance"
                      (change)="useWalletBalance($event)">
                    <label class="custom-control-label"
                      for="wallet-balance">Use balance from <span class="yady-wall">Yady Wallet</span></label>
                  </div>
                  <span class="radioRgt">{{walletAmount}} {{walletData?.currency}}</span>
                </div>
              </div>
              <button type="button" class="def_btn" (click)="paymentAlert()">Confirm Booking</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade loginModal quotModal" id="paymentAlertModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="./assets/images/warning.png" class="mx-auto d-block" alt="" style="height:100px">
            <h4 style="text-align: center;">{{message}}</h4><br /><br />
            <br />
          </div>
        </div>
        <!-- <button type="button" data-dismiss="modal" style="margin-right: 3px; margin-left: 3px;">CANCEL</button> -->
        <button type="button" (click)="cardPaymentShow(2)"  style="margin-right: 3px; margin-left: 3px;">PAY LATER</button>
        <button type="button" (click)="cardPaymentShow(1)" style="margin-right: 3px; margin-left: 3px;">PAY NOW</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="cardPaymentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h3 class="innerHdn" style="padding-top: 0px;margin-bottom: 9px">Payment</h3>
            <button type="button" style="margin-bottom: 9px" (click)="hideCardPaymentModal()" data-toggle="modal" data-target="#paymentcard">Add New Card</button>
            <div class="row">
              <div class="col-md-6" *ngFor="let savedCards of cardData; let i = index">
                <div class="paymentCardbg">
                  <div>
                    <h5>{{savedCards.brand}}</h5>
                    <p>********{{savedCards.last4}}</p>
                  </div>
                  <div>
                    <span class="form-group">
                      <input type="checkbox" id="{{savedCards.id}}" [checked]="savedCards.default_status == 1"
                        (click)="makeDefault(savedCards.id)">
                      <label for="{{savedCards.id}}"></label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="" (click)="confirmQueryBooking()">Proceed Payment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="successPaymentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="./assets/images/success_tick.png" class="mx-auto d-block" alt="" style="height:100px">
            <h4 style="text-align: center;">{{message}}</h4><br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="successModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="./assets/images/success_tick.png" class="mx-auto d-block" alt="" style="height:100px">
            <h5 style="text-align: center;">Booking Successful</h5>
            <h6>Booking Id : <strong style="color: #00B2B2;">{{saveBookingJobNo}}</strong></h6>
            <br />
            <div class="prof_add_info">
              <p class="prof_title">Service Details</p>
              <p>Service Type: {{queryReplyData?.service_type}}</p>
              <p>Service Description: {{queryReplyData?.description}}</p>
            </div>
            <div>
              <p>Amount to be paid <strong style="color: #00B2B2;">{{queryReplyData?.currency}} {{afterTaxCost}}</strong></p>
              <p *ngIf="paidmedium == 1">paid by  <strong style="color: #00B2B2;">Card</strong></p>
              <p *ngIf="paidmedium == 2">paid by  <strong style="color: #00B2B2;">Cash</strong></p>
            </div>
            <div class="mt-3">
              <button class="def_btn" data-dismiss="modal" (click)="bookingContinue()">Continue</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="warningModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="./assets/images/warning.png" class="mx-auto d-block" alt="" style="height:100px">
            <h4 style="text-align: center;">{{message}}</h4><br /><br />
            <br />
          </div>
        </div>
        <button type="button" data-dismiss="modal" style="margin-right: 3px; margin-left: 3px;">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="payFromWallet" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            <h5>Proceed For Payment</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
           <h5 style="color: #00B2B2;">{{queryReplyData?.currency}} {{afterTaxCost}}</h5>
           <div class="mt-3">
            <span >*Please choose your payment option.</span>
           </div>
            <div class="mt-4 pay-wallet-div">
              <!-- <div style="flex: 0 0 19%;">
                <img src="./assets/images/wallet-balance.png" alt="wallet">
              </div> -->
              <button class="def_btn pay-wallet-btn" (click)="cardPaymentShow(2)">
                <span><i class="far fa-wallet"></i></span> Pay from Wallet</button>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="payFromCardCash" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            <h5>Proceed For Payment</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
           <h5 style="color: #00B2B2;" *ngIf="walletpayStatus == 1">{{queryReplyData?.currency}} {{payableCost}}</h5>
           <h5 style="color: #00B2B2;" *ngIf="walletpayStatus == 0">{{queryReplyData?.currency}} {{afterTaxCost}}</h5>
           <div class="mt-3">
            <span >*Please choose your payment option.</span>
           </div>
            <div class="mt-4 pay-wallet-div" *ngIf="this.paymentMethod?.cash_status == 1">
              <button class="def_btn pay-wallet-btn" (click)="cardPaymentShow(2)">
                <span><i class='far fa-money-bill-alt'></i></span> Pay by Cash</button>
            </div>
            <div class="mt-4 pay-wallet-div" *ngIf="this.paymentMethod?.stripe_status == 1">
              <button class="def_btn pay-wallet-btn" (click)="cardPaymentShow(1)">
                <span><i class="fa fa-credit-card"></i></span> Pay by Card</button>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

