<section class="editProfileBg">
  <div class="container customContainer">
    <div class="row">
      <!-- <div class="col-md-4">

        <ul class="leftPanel">
          <li><a routerLink="/profile"><span><i class="far fa-user-edit"></i></span>Edit Profile</a></li>
          <li><a routerLink="/change_password"><span><img src="./assets/images/changepassword.png" alt=""></span>Change
              Password</a></li>
          <li><a routerLink="/document-list"><span><i class="far fa-file-invoice"></i></span>Documents</a></li>
          <li>
            <a routerLink="/service-list"><span><i class="fab fa-servicestack"></i></span>Services</a>
          </li>
          <li>
            <a routerLink="/query-request-list" class="active"><span><i class='far fa-comment-alt'></i></span>Query
              Request</a>
          </li>
          <li>
            <a routerLink="/sp-query-booking-list"><span><i class="fa fa-calendar" style="font-size:36px"></i></span>Query
              Bookings</a>
          </li>
          <li>
            <a routerLink="/working-hours"><span><i class="far fa-business-time"></i></span>Working Hours</a>
          </li>
          <li><a routerLink="/working-area-list"><span><i class="far fa-place-of-worship"></i></span>Working Area</a>
          </li>
          <li><a routerLink="/sp-booking-list"><span><img src="./assets/images/booked.png" alt=""></span>My Bookings</a>
          </li>
          <li>
            <a (click)="readNotification()" routerLink="/notification"><span><img src="./assets/images/notification.png"
                  alt=""></span>Notifications
              <span *ngIf="newNotification" class="badge badge-light" style="color: red;width: 45px;">New</span>
            </a>
          </li>
        </ul>
      </div> -->
      <div class="col-md-12">
        <div class="inner_main_content">
          <h3 class="innerHdn"><a routerLink="/query-request-list" class="for-back"><i class="fas  fa-arrow-left"></i> </a>  Query Details</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="prof_add_info bdInfo">
                <div class="loc_img locNewimg">
                  <img src="./assets/images/editprofile.png" alt="">
                </div>
                <p class="prof_title">Query Title: <span class="servicedes">{{queryServiceDetails?.service_type}}</span></p>
                <p style="padding-bottom: 10px;">Query Details: <span class="servicedes">{{queryServiceDetails?.description}}</span></p>
                <button type="button" *ngIf="queryServiceDetails?.query_image.length > 0" data-toggle="modal" data-target="#queryImage">Query Image(s)</button>
              </div>
            </div>
            <div class="col-md-6">
              <button type="button" *ngIf="queryServiceDetails?.home_visit_request == 0" class="rvtsh" (click)="requestVisitToSrHome()">Request Visit to SR Home</button>
              <p *ngIf="queryServiceDetails?.home_visit_request == 1 && queryServiceDetails?.home_visit_request_approval_status== 0">SR home request visit is waiting for admin approval.</p>
              <button type="button" *ngIf="queryServiceDetails?.home_visit_request == 1 && queryServiceDetails?.home_visit_request_approval_status== 1" class="rvtsh" (click)="homeVisitComplete()">Confirm Home Visit</button>
            </div>
          </div>

          <div class="row" *ngIf="queryServiceDetails?.sp_reply_status == 1">
            <div class="col-md-6">
              <h3 class="qa-23122022 prof_title">Query Answer</h3>
              <div class="prof_add_info bdInfo">
                <div class="loc_img locNewimg">
                  <i class='far fa-comment-alt' style='font-size:24px'></i>
                  <!-- <img src="./assets/images/editprofile.png" alt=""> -->
                </div>
                <p style="padding-bottom: 10px;">Service Cost: <span class="servicedes">{{queryServiceDetails?.cost}} {{queryServiceDetails?.currency}}</span></p>
                <p style="padding-bottom: 10px;">Time Required: <span class="servicedes" *ngIf="queryServiceDetails?.days > 1">{{queryServiceDetails?.days}} days</span><span class="servicedes" *ngIf="queryServiceDetails?.days == 1">{{queryServiceDetails?.days}} day</span></p>
                <p style="padding-bottom: 10px;">Answer Time: <span class="servicedes">{{queryServiceDetails?.submitted_date_time}}</span></p>
                <p style="padding-bottom: 10px;">Answer Details: <span class="servicedes">{{queryServiceDetails?.spDescription}}</span></p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!queryServiceDetails?.sp_reply_status && writeAnswerBtnShow && queryServiceDetails?.home_visit_request == 2">
            <div class="col-md-6">
              <div class="write-ans-23122022">
                <button type="button" (click)="writeAnswer()">Write a Answer</button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!writeAnswerBtnShow && !queryServiceDetails?.sp_reply_status">
            <div class="col-md-6">
              <h3 class="qa-23122022 prof_title">Query Answer</h3>
              <div>
                <form [formGroup]="queryAnswerForm" (ngSubmit)="answerQueryService()">
                  <div class="form-group">
                    <label for="service_time">Time Required (days)</label>
                    <div class="input-group">
                      <input type="text" autocomplete="off" class="form-control" formControlName="service_time"
                        placeholder="10 days">
                    </div>
                    <div class="error"
                        *ngIf="queryAnswerForm.controls['service_time'].hasError('required') && queryAnswerForm.controls['service_time'].touched">
                        Please enter service time
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="service_cost">Amount (<span>{{queryServiceDetails?.currency}}</span>)</label>
                    <div class="input-group">
                      <input type="text" autocomplete="off" class="form-control" formControlName="service_cost"
                        placeholder="100">
                    </div>
                    <div class="error"
                        *ngIf="queryAnswerForm.controls['service_cost'].hasError('required') && queryAnswerForm.controls['service_cost'].touched">
                        Please enter amount
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="service_details">Answer in details</label>
                    <div class="input-group">
                      <textarea class="form-control" autocomplete="off" formControlName="service_details"
                        placeholder="Write a query answer"></textarea>
                    </div>
                    <div class="error"
                        *ngIf="queryAnswerForm.controls['service_details'].hasError('required') && queryAnswerForm.controls['service_details'].touched">
                        Please enter answer
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="attachedImages mrgDefault20">
                        <input placeholder="Attach doc(s)" disabled="disabled" />
                        <div class="fileUpload">
                          <span><i class="fas fa-paperclip"></i></span>
                          <input type="file" (change)="readURL($event);" class="form-control upload"
                            formControlName="query_doc" accept=".pdf" multiple />
                        </div>
                      </div>
                    </div>
                    <div class="error"
                    *ngIf="queryAnswerForm.controls['query_doc'].hasError('required') && queryAnswerForm.controls['query_doc'].touched">
                    Document is required
                  </div>
                  </div>

                  <button class="query-submit-btn" type="submit"
                    [disabled]="queryAnswerForm.invalid">Submit</button>
                    <button class="query-submit-btn" type="button" (click)="cancel()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade loginModal quotModal" id="warningModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="./assets/images/warning.png" class="mx-auto d-block" alt="" style="height:100px">
            <h5 style="text-align: center;">{{message}}</h5><br />
            <!-- <button class="def_btn" data-dismiss="modal">Ok</button> -->

            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade loginModal quotModal" id="successModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img src="./assets/images/success_tick.png" class="mx-auto d-block" alt="" style="height:100px">
            <h5 style="text-align: center;">{{message}}</h5><br />
            <!-- <button class="def_btn" data-dismiss="modal">Ok</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade loginModal quotModal" id="queryImage" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h5>Query Image(s)</h5><br />
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" *ngIf="queryServiceDetails?.query_image.length > 0">
            <div class="carousel-item " [ngClass]="{active:isFirst}" *ngFor="let image of queryServiceDetails?.query_image; index as i;first as isFirst">
                <img class="d-block w-100" src="{{image.query_image}}" alt="Document" width="460" height="345">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls1" *ngIf="queryServiceDetails?.query_image.length > 1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:#00B2B2"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls1" *ngIf="queryServiceDetails?.query_image.length > 1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:#00B2B2"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
