<section class="homeBannerbg">
    <div class="container customContainer">
		<div class="row">
			<div class="col-md-12">
				<div class="socialLink">
				   <span class="socialText">{{'Social' | translate}}</span>
				   <a href="#"><i class="fab fa-facebook-f"></i></a>
				   <a href="#"><i class="fab fa-twitter"></i></a>
				   <a href="#"><i class="fab fa-google-plus-g"></i></a>
			   </div>
			   <div class="sliderInn">
					<div class="slideTxt">
					   <h3>{{'Home maintenance service ever' | translate}}!</h3>
					   <h1>{{'Certified Company' | translate}}</h1>
					   <p>
						   {{'Providing you with the peace of mind you deserve is what initiates the services we offer. Whether it handyman, home maintenance or cleaning – connecting good demand with vetted supply' | translate}}
					   </p>
					   <a href="" class="mulColor"><span>{{'Make an appointment' | translate}}</span></a>
					</div>
					<div class="slideImg"><img src="./assets/images/slide1.png" alt=""></div>
					<span class="countTxt">04</span>
				</div>
			</div>
		</div>
   </div>
</section>
<section class="ourService">
	<div class="container customContainer">
		<div class="row">
			<div class="col-md-6">
				<div class="serviceLft">
					<h3>{{'What we do' | translate}}</h3>
					<h2>{{'Our Services' | translate}}</h2>
				</div>
			</div>
			<div class="col-md-6 serviceRgt">
				<!-- <p>It is a long established fact that a reader will be distracted by the readable conten</p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				    <div class="serviceBtm">
					    <div class="tab-content servLft" id="myTabContent">
						    <div class="tab-pane fade" id="painting" role="tabpanel" aria-labelledby="painting-tab">
							    <img src="./assets/images/serviceimg.jpg" alt="">
							     <div class="serviceDesc">
									<h3>{{'Painting Service' | translate}}</h3>
									<p>{{'Our professional handyman has enough experience to help for all kind of handyman' | translate}}.</p>
									<a href="" class="booknow"><span>{{'Book Now' | translate}}</span></a>
							    </div>
						  </div>
						  <div class="tab-pane fade show active" id="handyman" role="tabpanel" aria-labelledby="handyman-tab">
							  <img src="./assets/images/serviceimg.jpg" alt="">
							  <div class="serviceDesc">
								  <h3>{{'Handyman Service' | translate}}</h3>
								  <p>{{'Our professional handyman has enough experience to help for all kind of handyman' | translate}}.</p>
								  <a href="" class="booknow"><span>{{'Book Now' | translate}}</span></a>
							  </div>
						  </div>
						  <div class="tab-pane fade" id="plumbing" role="tabpanel" aria-labelledby="plumbing-tab">
							  <img src="./assets/images/serviceimg.jpg" alt="">
							  <div class="serviceDesc">
								  <h3>{{'Plumbing Service' | translate}}</h3>
								  <p>{{'Our professional handyman has enough experience to help for all kind of handyman' | translate}}.</p>
								  <a href="" class="booknow"><span>{{'Book Now' | translate}}</span></a>
							  </div>
						  </div>
						  <div class="tab-pane fade" id="aircondition" role="tabpanel" aria-labelledby="aircondition-tab">
							  <img src="./assets/images/serviceimg.jpg" alt="">
							  <div class="serviceDesc">
								  <h3>{{'Aircondition Service' | translate}}</h3>
								  <p>{{'Our professional handyman has enough experience to help for all kind of handyman' | translate}}.</p>
								  <a href="" class="booknow"><span>{{'Book Now' | translate}}</span></a>
							  </div>
						  </div>
						  <div class="tab-pane fade" id="cleaning" role="tabpanel" aria-labelledby="cleaning-tab">
							  <img src="./assets/images/serviceimg.jpg" alt="">
							  <div class="serviceDesc">
								  <h3>{{'House Service' | translate}}</h3>
								  <p>{{'Our professional handyman has enough experience to help for all kind of handyman' | translate}}.</p>
								  <a href="" class="booknow"><span>{{'Book Now' | translate}}</span></a>
							  </div>
						  </div>
					  </div>
					  <ul class="servRgt nav nav-pills flex-column" id="myTab" role="tablist">
						  <li class="nav-item">
							<a class="nav-link" id="painting-tab" data-toggle="tab" href="#painting" role="tab" aria-controls="home" aria-selected="true"><img src="./assets/images/painting.png" alt=""> {{'Painting Service' | translate}}</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link active" id="handyman-tab" data-toggle="tab" href="#handyman" role="tab" aria-controls="profile" aria-selected="false"><img src="./assets/images/handyman.png" alt=""> {{'Handyman Service' | translate}}</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="plumbing-tab" data-toggle="tab" href="#plumbing" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/images/plumbing.png" alt=""> {{'Plumbing Dervice' | translate}}</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="aircondition-tab" data-toggle="tab" href="#aircondition" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/images/airconditioner.png" alt=""> {{'Air Conditioning' | translate}}</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" id="cleaning-tab" data-toggle="tab" href="#cleaning" role="tab" aria-controls="contact" aria-selected="false"><img src="./assets/images/houseclean.png" alt=""> {{'House Cleaning' | translate}}</a>
						  </li>
					 </ul>
				  </div>
			</div>
		  </div>
	</div>
</section>
<section class="aboutUs">
        <div class="container customContainer">
            <div class="row">
                <div class="col-lg-7 aboutTxtbg">
                    <div class="">
                        <div class="serviceLft">
                            <h3>{{'Why Choose Us' | translate}}</h3>
                            <h2>{{'About Us' | translate}}</h2>
                        </div>
                        <!-- <h3 class="abouthdn">{{'It is a long established fact that a reader will be distracted by the readable conten' | translate}}</h3> -->
                            <p>{{'Yady is an on demand online platform which connects busy people with slightly less busy people! Providing expert, pre-vetted and trusted service professionals to take care of your household chores, may this be cleaning your dishes or installing that 60” LED television. We’ll do it all' | translate}}!</p>
                         <a href="" class="booknow"><span>{{'LEARN MORE' | translate}}</span></a>
                    </div>
                </div>
                <div class="col-lg-5 aboutImg">
                    <img src="./assets/images/aboutimg.png" alt="">
                    <div class="aboutImgTxt">
                        <h2><small>{{'We Provide' | translate}}</small> {{'Trusted Services For You' | translate}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<section class="howitWork">
        <div class="container customContainer">
            <div class="row">
                <div class="col-md-12">
                    <div class="howitHdn">
                        <h3>{{'What We Do' | translate}}</h3>
                        <h2>{{'How it works' | translate}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                      <div class="worksBlog">
                          <div class="workcount"><img src="./assets/images/work1.png" alt=""><span>01</span></div>
                          <h4>{{'One-Stop Shop' | translate}}</h4>
                          <p>{{'Yady is the one and only app that your phone must have when any home related chores come to mind' | translate}}.</p>
                      </div>
                </div>
                <div class="col-md-4">
                      <div class="worksBlog active">
                          <div class="workcount"><img src="./assets/images/work2.png" alt=""><span>02</span></div>
                          <h4>{{'Vetted Task Force' | translate}}</h4>
                          <p>{{'For a professional to be on our platform, they are first vetted in their area of expertise. Only the best make it to your home' | translate}}.</p>
                      </div>
                </div>
                <div class="col-md-4">
                      <div class="worksBlog">
                          <div class="workcount"><img src="./assets/images/work3.png" alt=""><span>03</span></div>
                          <h4>{{'Where You Come First' | translate}}</h4>
                          <p>{{'At Yady we take high-class customer satisfaction and user experience very essential so that you can always have peace of' | translate}}...</p>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 knowmore">
                      <a href="" class="booknow"><span>{{'KNOW MORE' | translate}}</span></a>
                </div>
            </div>
        </div>
    </section>
	<section class="mapBg"><img src="./assets/images/map.jpg" alt=""></section>
