.add-money-btn{
  margin: 0px 10px;
  border: 1px solid #ccc;
  padding: 5px 15px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.add-money-button{
  margin-top: 25px;
}
.check-balance{
  color: #00B2B2;
  white-space: normal;
}
.passbook{
  flex: 0 0 90% !important;
  max-width: 100% !important;
}
.chl-pymt-walt{
  cursor: pointer;
}
