<section class="editProfileBg">
	<div class="container customContainer">
		<div class="row">
			<div class="col-md-4">
				<ul class="leftPanel">
					<li style="cursor: pointer"><a (click)="showCard()"><span><img src="./assets/images/paymentoption.png" alt=""></span>Credit / Debit Card</a></li>
					<!-- <li style="cursor: pointer"><a (click)="showCash()"><span><img src="./assets/images/paymentoption.png" alt=""></span>Cash</a></li> -->
				</ul>
			</div>
			<div class="col-md-8" *ngIf="showCardDiv">
				<h3 class="innerHdn">Card Details</h3>
				<div class="row">
					<div class="col-md-6" *ngFor="let savedCards of cardData; let i = index">
						<div class="paymentCardbg">
							<div>
								<h5>{{savedCards.brand}}</h5>
								<p>********{{savedCards.last4}}</p>
							</div>
							<div>
								<span class="form-group">
									<input type="checkbox" id="{{savedCards.id}}" [checked]="savedCards.default_status == 1" (click)="makeDefault(savedCards.id)">
									<label for="{{savedCards.id}}"></label>
								</span>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="" (click)="confirmBooking()">Pay By Card</button>
			</div>
			<!-- <div class="col-md-8" *ngIf="showCashDiv">
				<h3 class="innerHdn">Cash Payment</h3>
				<button type="submit" class="" (click)="cashPayment()">Submit</button>
			</div> -->
		</div>
	</div>

  <div class="modal fade loginModal quotModal" id="successModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button> -->
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <img src="./assets/images/success_tick.png" class="mx-auto d-block" alt="" style="height:100px">
              <h5 style="text-align: center;">Booking Successful</h5>
              <h6>Booking Id : <strong style="color: #00B2B2;">{{ saveBookingJobNo }}</strong></h6>
              <br />
              <div class="prof_add_info">
                <p class="prof_title">Service Details</p>
                <p>Booked for {{ booking_data?.cat_subcat_name }} {{ booking_data?.hour }} </p>
              </div>
              <div>
                <p>Amount to be paid <strong style="color: #00B2B2;">{{ currency }} {{ booking_data?.total_cost }}</strong></p>
                <p>paid by  <strong style="color: #00B2B2;">Card</strong></p>
              </div>
              <div class="mt-3">
                <button class="def_btn" data-dismiss="modal" (click)="bookingContinue()">Continue</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
